%h2 Categories

#categoriesContainer
  = partial @categories

= sortable_element_categories_container

#overlay{:style => "display: none; top: 145px; left: 157px;height: 72px;"}
  = image_tag("ajax-loader.gif", :alt => "Loading...")
%p
  = link_to_add_category
